@{
    ViewData["Title"] = "Habilidades";
}

<html>

<head>
    <!-- Outras tags e metadados -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div id="estrelas">
        <h1 class="display-4">Habilidades</h1>
        <div align="center" class="mt-4">
            <img src="https://github-readme-stats.vercel.app/api/top-langs?username=lucasvaz-net&locale=pt-br&hide_title=false&layout=compact&card_width=320&langs_count=12&theme=radical&hide_border=false" height="150" alt="languages graph" />
            <img src="https://github-readme-stats.vercel.app/api?username=lucasvaz-net&hide_title=false&hide_rank=true&show_icons=true&include_all_commits=true&count_private=true&disable_animations=false&theme=radical&locale=pt-br&hide_border=false" height="150" alt="stats graph" />
            <img src="https://streak-stats.demolab.com?user=lucasvaz-net&locale=pt-br&mode=weekly&theme=radical&hide_border=false&border_radius=5" height="150" alt="streak graph" />
        </div>

            <div style="height: 500px; width: 100%;">
                <canvas id="skillsChart"></canvas>
            </div>
        </div>
        <div id="button-containersobremim">
            <a asp-controller="Estudos" asp-action="Index" class="transparent-button">Vamos Continuar</a>
        </div>
    @for (int i = 0; i < 150; i++)
    {
        <div class="estrela" style="top: @(new Random().Next(0, 100))vh; left: @(new Random().Next(0, 100))vw; animation-delay: @(new Random().Next(1, 50))s;"></div>
    }
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('skillsChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [
                        'Lógica de Programação',
                        'SQL Server',
                        'MySQL',
                        'PostgresSQL',
                        'HTML',
                        'CSS',
                        'Bootstrap',
                        'ASP.NET',
                        'C#',
                        'Python',
                        'PowerShell',
                        'Chart.JS',
                        'Java'
                    ],
                    datasets: [{
                        label: 'Nível de habilidade',
                        data: [90, 70, 65, 60, 65, 40, 40, 30, 20, 20, 20, 15, 35],
                        backgroundColor: 'rgba(255, 255, 255, 0.20)',
                        borderColor: 'rgba(0, 0, 0, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    indexAxis: 'y',
                    responsive: true,
                    maintainAspectRatio: false, // Define o tamanho responsivo do gráfico
                    animation: {
                        duration: 2000
                    },
                    scales: {
                        x: {
                            beginAtZero: true,
                            max: 100,
                            ticks: {
                                color: 'white' // Define a cor dos rótulos do eixo y como branco
                            }
                        },
                        y: {
                            grid: {
                                display: false
                            }, ticks: {
                                color: 'white' // Define a cor dos rótulos do eixo y como branco
                            }
                        }
                    },
                    plugins: {
                        datalabels: {
                            anchor: 'end',
                            align: 'top',
                            font: {
                                size: 14,
                                color: 'white' // Define a cor dos rótulos dos dados como branco
                            },
                            formatter: function (value, context) {
                                return '';
                            },
                            offset: -4
                        }
                    }
                }
            });
        });
    </script>

</body>

</html>
