@{
    ViewData["Title"] = "Contato";
}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>

</head>
<body>
    <h1>Contato</h1>
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="contact-icons text-center">
                <a href="tel:73999326446" class="icon-link m-lg-3">
                    <img src="~/chamada-telefonica.png" alt="Telefone" class="img-fluid" style="max-width: 40px;">
                </a>
                <a href="mailto:contato@lucasvaz.dev.br" class="icon-link m-lg-3">
                    <img src="~/o-email.png" alt="E-mail" class="img-fluid" style="max-width: 40px;">
                </a>
                <a href="https://wa.me/73999326446" class="icon-link m-lg-3">
                    <img src="~/whatsapp.png" alt="WhatsApp" class="img-fluid" style="max-width: 40px;">
                </a>
                <a href="https://www.linkedin.com/in/lucasvazti/" class="icon-link m-lg-3">
                    <img src="~/linkedin.png" alt="LinkedIn" class="img-fluid" style="max-width: 40px;">
                </a>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <form target="_blank" action="https://formsubmit.co/contato@lucasvaz.dev.br" method="POST" class="bg-transparent">
            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <input type="text" name="name" class="form-control form-control-lg bg-transparent text-white" placeholder="Nome" required>
                    </div>
                    <div class="col">
                        <input type="email" name="email" class="form-control form-control-lg bg-transparent text-white" placeholder="Email" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea placeholder="Mensagem" class="form-control form-control-lg bg-transparent text-white" name="message" rows="10" required></textarea>
            </div>
            <button type="submit" class="transparent-button">Enviar</button>
        </form>
    </div>
</body>
</html>