@{
    ViewData["Title"] = "Estudos";
}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id="estrelas">
    <h1 class="display-4">Estudos</h1>
    <div class="estudos">
        <h2>Ensino Superior</h2>
        <p>Sistemas de Informação - Uniftc - 2024</p>
        </div>
    <div class="estudos">
        <h2>Cursos online</h2>
        <ul>
            <li>
                <p>SQL - 30 Horas</p>
            </li>
            <li>
                <p>SQL Completo - Softblue - 20 Horas</p>
            </li>
            <li>
                <p>MySQL Consultas com Join - DIO - 2 Horas</p>
            </li>
            <li>
                <p>Modelando um banco de dados SQL Server - DIO - 2 Horas</p>
            </li>
            <li>
                <p>SQL Server Boas práticas - DIO - 2 Horas</p>
            </li>
            <li>
                <p>SQL Server Criando consultas - DIO - 4 Horas</p>
            </li>
            <li>
                <p>Desenvolvimento - 15 Horas</p>
            </li>
            <li>
                <p>Logica de Programação - Fundação Bradesco - 15 Horas</p>
            </li>
        </ul>
    </div>
    <div class="estudos">
        <h2>Certificações</h2>
        <ul>
            <li>
                <p>Fundamentos de Informatica - IBSEC</p>
            </li>
            <li>
                <p>Fundamentos de Cibersegurança - IBSEC</p>
            </li>
            <li>
                <p>Transact SQL - Linkedin</p>
            </li>
        </ul>
    </div>
    <div id="button-containersobremim">
        <a asp-controller="Contato" asp-action="Index" class="transparent-button">Entrar em contato</a>
    </div>

        @for (int i = 0; i < 300; i++)
    {
        <div class="estrela" style="top: @(new Random().Next(0, 100))vh; left: @(new Random().Next(0, 100))vw; animation-delay: @(new Random().Next(1, 10))s;"></div>
    }
</div>
</body>
</html>