@{
    ViewData["Title"] = "Sobre Mim";
}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id="estrelas">
        <h1 class="display-4">Sobre Mim</h1>
        <div class="estudos">
            <p>Lucas Vaz é um profissional dinâmico e versátil. Como Tech Lead em Infraestrutura, Suporte e Redes, liderou equipes, administrou bancos de dados e analisou sistemas. Possui expertise em infraestrutura de TI, PL/SQL, Transact-SQL e Microsoft SQL Server.</p>
            <p>Além disso, como Analista de Sistemas PL, demonstra proficiência em análise de sistemas utilizando SQL Server. Também possui experiência relevante como Analista de Suporte JR, fornecendo suporte a sistemas ERP e manutenção de hardware.</p>
            <p>Lucas também se envolveu voluntariamente em projetos de inclusão digital para idosos, atuando como monitor, e contribuiu na arrecadação de lixo eletrônico reciclável para ensinar crianças e adolescentes a reciclar e dar manutenção em microcomputadores.</p>
            <p>Destaca-se sua experiência em manutenção de redes de computadores, instalação de circuito de monitoramento IP e desenvolvimento e execução de projetos de infraestrutura de TI. Sua habilidade em solução de problemas, empatia e comunicação eficaz são valorizadas por seus colegas.</p>
            <p>Lucas Vaz é reconhecido por seu comprometimento com a qualidade e sua adaptabilidade a novos desafios. Sua paixão pela tecnologia e busca contínua por aprendizado o tornam uma escolha promissora.</p>
       </div>
        <div id="button-containersobremim">

            <a asp-controller="Experiencia" asp-action="Index" class="transparent-button">Vamos Continuar</a>
        </div>
        @for (int i = 0; i < 150; i++)
        {
            <div class="estrela" style="top: @(new Random().Next(0, 100))vh; left: @(new Random().Next(0, 100))vw; animation-delay: @(new Random().Next(1, 50))s;"></div>
        }
    </div>
</body>
</html>