@{
    ViewData["Title"] = "Experiencia";
}
<head>
    <style>
        body {
            background-image: url('fundo.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        p {
            font-size: 20px;
            text-align: left;
            margin: 20px;
            font-family: 'Courier New', Courier, monospace;
        }

        .experiencia {
            margin-top: 10px;
            padding: 30px;
            text-align: justify;
            font-size: 18px;
            line-height: 1.6;
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), rgba(255, 255, 255, 0.10);
            color: #fff;
        }

        .transparent-button {
            background-color: transparent;
            color: #ffffff;
            border: 2px solid #ffffff;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
            margin-left: 545px;
        }

            .transparent-button:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
    </style>
</head>

<body>
    <h1 class="display-4">Experiencia</h1>
    <div class="experiencia">
        <h2>Experiência Profissional</h2>
        <ul>
            <li>
                <h3>Encarregado de Tecnologia - Avatim</h3>
                <p>2019 - Atualmente</p>
                <p>Responsável pela infraestrutura de TI</p>
                <p>Análise de Banco de Dados e Sistemas Asp.Net</p>
            </li>
            <li>
                <h3>Operador de Caixa - Mais Voce Itabuna</h3>
                <p>2018 - 2019</p>
                <p>Atendimento ao Cliente</p>
                <p>Experiência com uso de ERP</p>
            </li>
            <li>
                <h3>Técnico de Informática - Infocriativa</h3>
                <p>2016 - 2016</p>
                <p>Manutenção de Hardware e Software</p>
                <p>Suporte Presencial</p>
            </li>
        </ul>
    </div>
    <div class="experiencia">
        <h2>Experiência Voluntária</h2>
        <ul>
            <li>
                <h3>FTCeira Idade - Itabuna</h3>
                <p>2017 - 2019</p>
                <p>Projeto de Extensão que oferece cursos gratuitos para o público da terceira idade de Itabuna.</p>
            </li>
            <li>
                <h3>FTC Ame Vidas - Itabuna</h3>
                <p>2018 - 2019</p>
                <p>Projeto de Extensão que utiliza aproveitamento de sucata eletrônica como ferramenta de conhecimento para adolescentes de Itabuna em parceria com associação comunitária.</p>
            </li>
            <li>
                <h3>Java nas Escolas - Itabuna</h3>
                <p>2019 - 2019</p>
                <p>Projeto de Extensão que oferece cursos de lógica de programação e desenvolvimento para alunos da rede pública de Itabuna.</p>
            </li>
        </ul>
        <button onclick="window.location.href='/site/estudos'" class="transparent-button">Vamos Continuar</button>
    </div>
</body>
