@{
    ViewData["Title"] = "Experiencia";
}
<head>
<style>
    body {
        background-image: url('fundo.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
</style>

</head>

<div class="text-center">
    <h1 class="display-4">Experiencia</h1>
    <p>Aqui Voce Verá minha experiencia de trabalho</p>
</div>
