@{
    ViewData["Title"] = "Projetos";
}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Projetos</title>
   
</head>
<body>
    <div class="container">
        <div class="card">
            <h3>Site Portfolio</h3>
            <p>Moderno e minimalista, este site foi desenvolvido utilizando ASP.NET Core 6 com padrão de desenvolvimento MVC.</p>
            <button onclick="window.open('https://github.com/lucasvaz-net/Site', '_blank')" class="transparent-button">
                <img src="~/github.png" width="30px" height=" 30px">   Ver no Github</button>
        </div>
        <div class="card">
            <h3>WebPage</h3>
            <p>Uma versão diferente de um portfolio bem resumido, cada página neste projeto é um carrossel Bootstrap.</p>
            <button onclick="window.open('https://github.com/lucasvaz-net/WebPage', '_blank')" class="transparent-button">
                <img src="~/github.png" width="30px" height=" 30px">   Ver no Github
            </button>
        </div>
        <div class="card">
            <h3>Lembretes</h3>
            <p>HTML que permite adicionar lembretes usando o armazenamento do navegador, com opção de alterar o tema.</p>
            <button onclick="window.open('https://github.com/lucasvaz-net/Lembretes', '_blank')" class="transparent-button">
                <img src="~/github.png" width="30px" height=" 30px">   Ver no Github
            </button>
        </div>
        <div class="card">
            <h3>Árvore</h3>
            <p>Árvore Binária em Java, projeto para o curso de Sistemas de Informação.</p>
            <button onclick="window.open('https://github.com/lucasvaz-net/Arvore', '_blank')" class="transparent-button">
                <img src="~/github.png" width="30px" height=" 30px">   Ver no Github
            </button>
        </div>
        <div class="card">
            <h3>Portifolio</h3>
            <p>Versão inicial de portfolio simples, desenvolvido utilizando ASP.NET Core 6 com padrão de desenvolvimento MVC.</p>
            <button onclick="window.open('https://github.com/lucasvaz-net/Portifolio', '_blank')" class="transparent-button">
                <img src="~/github.png" width="30px" height=" 30px">   Ver no Github
            </button>
        </div>
        <div class="card">
            <h3>Classificados</h3>
            <p>Sistema de Classificados em Java, criado para o curso de Sistemas de Informação.</p>
            <button onclick="window.open('https://github.com/lucasvaz-net/Classificados', '_blank')" class="transparent-button">
                <img src="~/github.png" width="30px" height=" 30px">   Ver no Github
            </button>
        </div>
        <div class="card">
            <h3>CheckPool</h3>
            <p>O "CheckPool" é um script PowerShell que verifica o status das Web App Pools em um servidor IIS e inicia aquelas que estão paradas.</p>
            <button onclick="window.open('https://github.com/lucasvaz-net/CheckPool', '_blank')" class="transparent-button">
                <img src="~/github.png" width="30px" height=" 30px">   Ver no Github
            </button>
        </div>
        <div class="card">
            <h3>PythonAPI</h3>
            <p>Script Python que lê dados de uma API e salva em arquivo CSV.</p>
            <button onclick="window.open('https://github.com/lucasvaz-net/PythonAPI', '_blank')" class="transparent-button">
                <img src="~/github.png" width="30px" height=" 30px">   Ver no Github
            </button>
        </div>
        <div class="card">
            <h3>FastDown</h3>
            <p>O projeto Gerenciador de Downloads FastDown é uma aplicação web que permite o gerenciamento e o download de arquivos hospedados em um servidor.</p>
            <button onclick="window.open('https://github.com/lucasvaz-net/FastDown', '_blank')" class="transparent-button">
                <img src="~/github.png" width="30px" height=" 30px">   Ver no Github
            </button>
        </div>
        
    </div>
    <div id="button-containersobremim">
    <a asp-controller="Estudos" asp-action="Index" class="transparent-button" >Vamos Continuar</a>
    <br/>
    <br/>
    <br/>
    </div>
</body>
</html>
