@{
    ViewData["Title"] = "Projetos";
}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Projetos</title>

</head>
<body>

    <div style="text-align: center;">
        <a href="https://github.com/lucasvaz-net">
            <img height="180" src="https://github-readme-stats.vercel.app/api?username=lucasvaz-net&show_icons=true&theme=dark&include_all_comits=true&count_private=true" />
            <img height="180" src="https://github-readme-stats.vercel.app/api/top-langs/?username=lucasvaz-net&layout=compact&langs_count=16&theme=dark" />
        </a>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <h3>Site Portfolio</h3>
                    <p>Moderno e minimalista, este site foi desenvolvido utilizando ASP.NET Core 6 com padrão de desenvolvimento MVC.</p>
                    <a href="https://github.com/lucasvaz-net/Site" target="_blank" class="btn transparent-button" type="button">
                        <img src="~/github.png" width="30px" height="30px"> Ver no Github
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <h3>WebPage</h3>
                    <p>Uma versão diferente de um portfolio bem resumido, cada página neste projeto é um carrossel Bootstrap.</p>
                    <a href="https://github.com/lucasvaz-net/WebPage" target="_blank" class="btn transparent-button" type="button">
                        <img src="~/github.png" width="30px" height="30px"> Ver no Github
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <h3>Lembretes</h3>
                    <p>HTML que permite adicionar lembretes usando o armazenamento do navegador, com opção de alterar o tema.</p>
                    <a href="https://github.com/lucasvaz-net/Lembretes" target="_blank" class="btn transparent-button" type="button">
                        <img src="~/github.png" width="30px" height="30px"> Ver no Github
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <h3>Portifolio</h3>
                    <p>Versão inicial de portfolio simples, desenvolvido utilizando ASP.NET Core 6 com padrão de desenvolvimento MVC.</p>
                    <a href="https://github.com/lucasvaz-net/Portifolio" target="_blank" class="btn transparent-button" type="button">
                        <img src="~/github.png" width="30px" height="30px"> Ver no Github
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <h3>Classificados</h3>
                    <p>Sistema de Classificados em Java, criado para o curso de Sistemas de Informação.</p>
                    <a href="https://github.com/lucasvaz-net/Classificados" target="_blank" class="btn transparent-button" type="button">
                        <img src="~/github.png" width="30px" height="30px"> Ver no Github
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <h3>CheckPool</h3>
                    <p>O "CheckPool" é um script PowerShell que verifica o status das Web App Pools em um servidor IIS e inicia aquelas que estão paradas.</p>
                    <a href="https://github.com/lucasvaz-net/CheckPool" target="_blank" class="btn transparent-button" type="button">
                        <img src="~/github.png" width="30px" height="30px"> Ver no Github
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <h3>PythonAPI</h3>
                    <p>Script Python que lê dados de uma API e salva em arquivo CSV.</p>
                    <a href="https://github.com/lucasvaz-net/PythonAPI" target="_blank" class="btn transparent-button" type="button">
                        <img src="~/github.png" width="30px" height="30px"> Ver no Github
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mt-4">
                <div class="card">
                    <h3>FastDown</h3>
                    <p>O projeto Gerenciador de Downloads FastDown é uma aplicação web que permite o gerenciamento e o download de arquivos hospedados em um servidor.</p>
                    <a href="https://github.com/lucasvaz-net/FastDown" target="_blank" class="btn transparent-button" type="button">
                        <img src="~/github.png" width="30px" height="30px"> Ver no Github
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="button-containersobremim">
        <a asp-controller="Habilidades" asp-action="Index" class="transparent-button">Vamos Continuar</a>
        <br />
        <br />
        <br />
    </div>
</body>
</html>
