@{
    ViewData["Title"] = "Inicio";
}

<head>
    <meta charset="UTF-8">
  <title>TypeWriter</title>
</head>
<html>
<body>
    <h1 class="inicio" style="max-width: 480px; margin: auto;">Olá, Sou o Lucas Vaz, Atuo na Área de Tecnologia há mais de 4 anos. Seja bem-vindo(a) e Conheça minha jornada!</h1>
        <div id="button-container">
        <a asp-controller="SobreMim" asp-action="Index" class="transparent-button">Vamos Lá</a>
    </div>
    <script>
        function typeWriter(elemento) {
            const texto = elemento.innerHTML;
            elemento.innerHTML = '';

            let index = 0;

            const escrever = () => {
                elemento.innerHTML += texto[index];
                index++;

                if (index < texto.length) {
                    setTimeout(escrever, 100);
                } else {
                    exibirBotao(); // Chama a função para exibir o botão após a digitação do texto
                }
            };

            escrever();
        }

        const titulo = document.querySelector('h1');
        typeWriter(titulo);

        
        setTimeout(function () {
            document.getElementById("button-container").style.opacity = "1";
        }, 13000);

    </script>
</body>
</html>