html {
    height: auto;
}

body {
    font-size: 14px;
    max-width: 100%;
    background: black;
}

.estudos {
    margin-top: 10px;
    padding: 30px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), rgba(255, 255, 255, 0.10);
    color: #fff;
}

#estrelas {
    margin-top: 70px;
}
@keyframes twinkling {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.estrela {
    position: fixed;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    animation: twinkling 1.3s infinite ease-in-out;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



#button-containersobremim {
    display: flex;
    justify-content: center; /* Alinha horizontalmente no centro */
    margin-top: 10px;
}

.transparent-button {
    background-color: transparent;
    opacity: inherit;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

    .transparent-button:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
        text-decoration: none;
    }


.sobremimtxt {
    margin-top: 10px;
    padding: 30px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), rgba(255, 255, 255, 0.10);
    color: #fff;
}


p {
    font-size: 20px;
    text-align: left;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


h1, h2, h3, h4, h5, h6, p {
    color: #fff;
}

a {
    color: #9cf;
    text-decoration: none;
}



input[type="text"], input[type="email"], textarea {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000; /* Cor de fundo preta */
    z-index: 1;
}

.nav-link{

    color:white;

}

h1 {
    text-align: center;
    margin: 60px auto;
    font-family: 'Courier New', Courier, monospace;
}

    h1::after {
        content: '|';
        opacity: 1;
        margin-left: 5px;
        display: inline-block;
        animation: blink .7s infinite;
    }

.card {
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}