html {
    height: auto;
}

body {
    font-size: 14px;
    max-width: 100%;
}

.estudos {
    margin-top: 10px;
    padding: 30px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), rgba(255, 255, 255, 0.10);
    color: #fff;
}

#estrelas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#estrelasproj {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}


.conteudoproj {
    text-align: center;
    max-width: 100%; 
}


.conteudo {
    text-align: center;
    max-width: 80%; 
}

.estrela {
    transition: opacity 1s;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nova {
    margin-left: 545px;
}

#cardprojetos {
    !important background-color: rgba(255, 255, 255, 0.10);
    !important border: 1px solid #000;
    !important border-radius: 10px;
    !important box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    !important transition: box-shadow 0.3s ease;
    !important height: 100%;
}

    #cardprojetos:hover {
        !important box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    #cardprojetos h3 {
        !important font-size: 20px;
        !important margin-bottom: 10px;
        !important text-align: center;
    }

    #cardprojetos p {
        !important font-size: 20px;
        !important line-height: 1.4;
    }

#button-container {
    opacity: 0;
    display: flex;
    justify-content: space-between; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-top: 10px;
    text-decoration: none;
}

#button-containersobremim {
    display: flex;
    justify-content: center; /* Alinha horizontalmente no centro */
    margin-top: 10px;
}

.transparent-button {
    background-color: transparent;
    opacity: inherit;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

    .transparent-button:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
        text-decoration: none;
    }


.sobremimtxt {
    margin-top: 10px;
    padding: 30px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), rgba(255, 255, 255, 0.10);
    color: #fff;
}

.experiencia {
    margin-top: 10px;
    padding: 30px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), rgba(255, 255, 255, 0.10);
    color: #fff;
}

p {
    font-size: 20px;
    text-align: left;
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


h1, h2, h3, h4, h5, h6, p {
    color: #fff;
}

a {
    color: #9cf;
    text-decoration: none;
}

table {
    background-color: #222;
    color: #eee;
    border-collapse: collapse;
}

    table th, table td {
        border: 1px solid #333;
    }

.alert {
    background-color: #333;
    color: #eee;
    border: 1px solid #555;
}

    .alert.success {
        background-color: #276749;
    }

    .alert.error {
        background-color: #8b0000;
    }

input[type="text"], input[type="email"], textarea {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

.navbar {
    background-color: transparent;
    color: #eee;
    border-bottom-color: #111;
    z-index:1;
}

    .navbar .nav-link {
        color: #fff;
    }

        .navbar .nav-link:hover {
            color: #9cf;
        }

        .navbar .nav-link.text {
            color: #fff;
        }

h1 {
    text-align: center;
    margin: 60px auto;
    font-family: 'Courier New', Courier, monospace;
}

    h1::after {
        content: '|';
        opacity: 1;
        margin-left: 5px;
        display: inline-block;
        animation: blink .7s infinite;
    }
